
.auth-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 2rem; 
  box-sizing: border-box; 
}

mat-card-header {
    margin-bottom: 1.5rem;
}
 
mat-form-field {
  margin-bottom: 1rem; 
}

mat-form-field:last-of-type {
  margin-bottom: 0;
}

button[mat-raised-button] {
  margin-top: 1.5rem; 
}

mat-card {
  width: 100%;
  max-width: 420px;
}


mat-card-content form {
  display: flex;        
  flex-direction: column;
}


button[mat-raised-button][color="primary"] {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.error-message {
  color: #f44336;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

mat-card-actions {
  margin-top: 1rem;
  text-align: center;
}

mat-card-actions p {
  margin: 0;
  font-size: 0.9em;
}

mat-card-actions a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

mat-card-actions a:hover {
  text-decoration: underline;
}

.button-wrapper {
  position: relative; 
  display: block;
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-wrapper button[disabled] {
  cursor: not-allowed;
}

.success-snackbar {
  background-color: #4CAF50; 
  color: white;
}

.success-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: white;
}

fieldset {
  border: none; 
  padding: 0;   
  margin: 0;    
}

fieldset {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  padding: 0 1rem 1rem 1rem; 
}
