:host {
  display: block;
}

.dashboard-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-card {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-bottom: 2rem;
  border-radius: 12px;
}
.welcome-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
}
.main-actions {
  padding: 16px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.main-actions button[color="primary"] {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.main-actions button[color="accent"] {
  background-color: var(--color-accent);
  color: var(--color-white);
}
.main-actions mat-icon {
  margin-right: 8px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.stat-card {
  text-align: center;
  padding: 1rem;
}
.stat-number {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  line-height: 1;
}

.main-content-grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 1.5rem;
}

.section-title {
  font-size: 1.5rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.status {
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.8em;
}
.status-Aberto { background-color: #E3F2FD; color: #1E88E5; }
.status-EmAndamento { background-color: #FFF3E0; color: #FB8C00; }
.status-Concluido { background-color: #E8F5E9; color: #43A047; }

.empty-state {
  padding: 2rem;
  text-align: center;
  color: #78909C;
}

.comment-text {
  white-space: normal;
  font-style: italic;
  color: #546E7A;
}

.reply-button {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px); 
}

@media (max-width: 900px) {
  .main-content-grid {
    grid-template-columns: 1fr;
  }
}

.shortcuts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.shortcut-card mat-card-avatar {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: var(--color-primary);
}


.main-content-grid.single-column {
  grid-template-columns: 1fr; /* Força o layout de uma coluna única */
}

.activity-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.activity-item:hover {
  background-color: rgba(0,0,0,0.04);
}

.item-title {
  font-weight: 500;
  margin: 10px;

}

.item-details {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.9em;
  color: #546E7A;
  margin-top: 15px;
}

.item-details span {
  display: flex;
  align-items: center;
}

.item-details mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

.task-card {
  margin: 10px;
}

