/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary: #26A69A;
  --color-accent: #FF7043;
  --color-background: #F5F7FA;
  --color-text: #37474F;
  --color-border: #CFD8DC;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--color-background);
  color: var(--color-text);
}

.auth-dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
  padding: 0 !important;
  border-radius: 8px; 
}

.mat-mdc-snack-bar-container.success-snackbar {
  background-color: #4CAF50 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.success-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: white !important;
}

.mat-mdc-snack-bar-container.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.error-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: white !important;
}
